html, body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    font-family: sans-serif;
}

body:not(.loaded):after {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 6px solid transparent;
    border-top-color: white;
    border-radius: 100%;
    animation: spin .4s infinite linear;
    z-index: 10;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.bread {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 20;
    opacity: 1;
    transition: opacity 1s ease-in, transform 5s linear;
    will-change: transform, opacity;
}

.bread.new {
    z-index: 10;
    transition: none;
}

.bread.stale {
    z-index: 30;
    opacity: 0;
}

a#source {
    display: block;
    background: rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 50;
    text-decoration: none;
    padding: 1em;
    font-size: 10pt;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

a#source:not([href]) {
    opacity:0;

}
