html, body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.bread {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 20;
    opacity: 1;
    transition: opacity 1s ease-in, transform 5s linear;
    will-change: transform, opacity;
}

.bread.new {
    z-index: 10;
    transition: none;
}

.bread.stale {
    z-index: 30;
    opacity: 0;
}
